<%- include('header') -%>

<h1>Add a Blog Post</h1>

<div class="blogAddForm">
<form class="blogForm" action="/" method="post">
  <label for="">Give the Blog a Title</label>
  <input type="text" name="titleInput" value="">
  <label for="">Add Some Cool Content</label>
  <input type="text" name="bodyInput" value="">
  <button type="submit">Add Post</button>
</form>


</div>
