<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles.css">
  <title>Header</title>
</head>

<body>

  <div class='headerDiv'>
    <nav>
      <div class="navLeft"> <a class="headerItem" href="">Daily Journal</a></div>

      <div class="navRight">
        <a class="headerItem" href="/">Home</a>
        <a class="headerItem" href="/about">About Us</a>
        <a class="headerItem" href="/contact">Contact Us</a>
        <a class="headerItem" href="/addBlog">Add a Blog</a>
      </div>

    </nav>
  </div>